<header class="site-header row">
    <a class="col-xs-12 col-sm-3 header-logo" href="/"><span class="fa fa-star header-logo-icon"></span> <span class="header-logo-text">apollo</span></a>
    <nav class="col-xs-12 col-sm-9">
        <ul class="header-nav">
            <li><a href="/flows" data-tar="header-flows"><span class="fa fa-exchange"></span> Flows</a></li>
            <li><a href="/profile" data-tar="header-profile"><span class="fa fa-user"></span> Account</a></li>
            <li><a href="/logout" data-tar="header-logout"><span class="fa fa-eject"></span> Logout</a></li>
        </ul>
    </nav>
</header>
