<div class="early-access-section">
    <div class="container">
        <h2>Sign up for early access:</h2>
        <form class="row" action="/pre-launch-signup" method="post">
            <input class="pre-launch-email-field col-xs-8 col-xs-offset-2" id="pre-launch-email-field" required type="email" placeholder="jane.doe@example.com" class="form-control" name="email">
            <button type="submit" class="button button_valencia col-xs-4 col-xs-offset-4">Sign up</button>
        </form>
    </div>
</div>

<script>
    $('*[data-early-access-link="true"]').on("click", function() {
        $('html, body').animate({
            scrollTop: $(".early-access-section").offset().top
        }, 1000);
        $("#pre-launch-email-field").focus();
    });

    var earlyAccessCompleted = getParameterByName("earlyAccessSignupComplete");

    if (earlyAccessCompleted) {
        $(".early-access-section").html("<h2 class='col-xs-12 text-center'>Awesome, we'll be in touch</h2>");
    }

    function getParameterByName(name, url) {
        if (!url) {
          url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
</script>
