
<div class="">
    <div class="container">

        <h1 class="text-center">Choose your plan</h1>
        <div class="form-group pricing-plan-list row">
            <div class="pricng-plan col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                <h3>Manual</h3>
                <h2>$25<span class="pricing-plan-month">/ month</span></h2>
                <ul>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-wrench"></span> Unlimited Manual Tests</li>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-repeat"></span> Test Playback</li>
                </ul>
                <a href="#" class="btn btn-primary">Choose</a>
            </div>
            <div class="pricng-plan pricng-plan-featured col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                <h3>Scheduled</h3>
                <h2>$45<span class="pricing-plan-month">/ month</span></h2>
                <ul>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-wrench"></span> Unlimited Manual Tests</li>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-repeat"></span> Test Playback</li>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-paper-plane"></span> 500 scheduled tests</li>
                </ul>
                <a href="#" class="btn btn-primary">Choose</span></a>
            </div>
            <div class="pricng-plan col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                <h3>Scheduled Pro</h3>
                <h2>$85<span class="pricing-plan-month">/ month</h2>
                <ul>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-wrench"></span> Unlimited Manual Tests</li>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-repeat"></span> Test Playback</li>
                    <li class="pricing-plan-include"><span class="hidden-xs fa fa-space-shuttle"></span> Unlimited scheduled tests</li>
                </ul>
                <a href="#" class="btn btn-primary">Choose</a>
            </div>
        </div>
    </div>
</div>
