<!doctype html>
<html>
    <head>
        <title>Apollo QA - Error.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ./partials/resources %>
    </head>
    <body>
        <% include ./partials/header %>
        <div class="page-container">
            <div class="container ">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Houston we have a problem</h1>
                    </div>
                    <div class="col-xs-8">
                        <h2>Our best people are looking into it. If you are having trouble please let us know, we'll do everything we can to get you back in action.</h2>
                        <a class="btn btn-primary" href="mailto:support@apolloqa.com" target="_blank">contact us</a>
                    </div>
                </div>
            </div>
        </div>
        <% include ./partials/footer %>
    </body>
</html>
