<!doctype html>
<html>
<head>
    <title><%= flow.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body class="flow-page">
    <% include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="content"><div class="loader">Loading...</div></div>
            </div>
        </div>
    </div>
    <script>
        window.GLOBAL = window.GLOBAL || {};
        window.GLOBAL.flowId = "<%= flow._id %>";
    </script>
    <script src="../app.bundle.js"></script>
</body>
</html>
