<!doctype html>
<html>
<head>
    <title>Flows - QA Automation Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body>
    <% include ./partials/header %>
    <div class="page-container">
        <h1 class="text-center"><span class="fa fa-exchange"></span> User Flows</h1>
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">

        <!-- New Flow Form -->
        <div class="row">
            <div class="list-group">
                <form class="list-group-item list-group-item-info" action="/flow" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" data-tar="newflow-name-field" name="name" placeholder="E.g. contact us form" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Create Flow</button>
                        </span>
                    </div>
                </form>

                <% if (flows.length <= 0) { %>
                    <div class="flows-empty text-center">
                        <div class="flows-empty-arrow"><span class="fa fa-hand-o-up"></span></div>
                        <h2 class="">Make a user flow to get started</h2>
                    </div>
                <% } %>

                <% flows.forEach( function ( flow ){ %>
                    <a class="list-group-item" data-tar="flow-<%= flow._id %>" href="/flow/<%= flow._id %>"><%= flow.name %></a>
                <% }); %>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
</body>
</html>
