<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <% include ./partials/resources %>
</head>
<body>
    <% include ./partials/header %>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-exchange"></span> Flows</h1>
        </div>

        <!-- New Flow Form -->
        <div class="row">
            <div class="list-group">
                <form class="list-group-item list-group-item-info" action="/flow" method="post">
                    <div class="input-group">
                        <input type="text" class="form-control" data-tar="newflow-name-field" name="name" placeholder="E.g. contact us form" required>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">Create Flow</button>
                        </span>
                    </div>
                </form>

                <% if (flows.length <= 0) { %>
                    <div class="flows-empty text-center">
                        <div class="flows-empty-arrow"><span class="fa fa-hand-o-up"></span></div>
                        <h2 class="">Make a flow to get started</h2>
                    </div>
                <% } %>

                <% flows.forEach( function ( flow ){ %>
                    <a class="list-group-item" data-tar="flow-<%= flow._id %>" href="/flow/<%= flow._id %>"><%= flow.name %></a>
                <% }); %>
            </div>
        </div>

    </div>
</body>
</html>
