<!doctype html>
<html>
    <head>
        <title>QA Automation Bot</title>
        <% include ./partials/resources %>
    </head>
    <body>
        <div class="container">
            <div class="homepage-hero text-center">
                <div class="fa fa-gears homepage-hero-icon"></div>
                <h1>QA Automation</h1>
                <h2><code>Automation for everyone.</code></h2>
                <a href="/login" class="btn btn-large btn-link" data-tar="login"><span class="fa fa-user"></span> Login</a>
                <a href="/signup" class="btn btn-large btn-primary" data-tar="signup"><span class="fa fa-heart"></span> Try it out</a>
            </div>

        </div>
    </body>
</html>
