<!doctype html>
<html>
    <head>
        <title>Apollo QA - Automated functional testing.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <% include ./partials/resources %>
    </head>
    <body>
        <% include ./partials/header %>
            <div class="homepage-hero">
                <div class="homepage-hero-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-11 col-md-8 col-xl-7">
                                <h1>Automated testing for everyone.</h1>
                                <p>Automate your website testing without writing code.</p>
                                <a href="#pre-launch" class="button button_valencia" data-early-access-link="true"><span class="fa fa-heart"></span> Get Early Access</a>
                                <!--<a href="/signup" class="btn btn-lg btn-primary" data-tar="signup"><span class="fa fa-heart"></span> try it for free</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage-perks clearfix">
                <div class="homepage-perks-content container">
                    <div class="row">
                        <div class="col-xs-12 col-lg-4 homepage-perk">
                            <div class="col-xs-12 ">
                                <h1><span class="fa fa-bug"></span></h1>
                                <h3>Find bugs faster</h3>
                                <p>Automate your QA process by eleminating manual testing of common functionality.</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-lg-4 homepage-perk">
                            <div class="col-xs-12 ">
                                <h1><span class="fa fa-rocket"></span></h1>
                                <h3>Speed up your release process</h3>
                                <p>Check that all of your website's functionality is working as intended in minutes.</p>
                            </div>
                        </div>
                            <div class="col-xs-12 col-lg-4 homepage-perk">
                                <div class="col-xs-12">
                                    <h1><span class="fa fa-heartbeat"></span></h1>
                                    <h3>All systems go</h3>
                                    <p>By testing what users actually experience, you can be sure that every system your application depends on is doing it's part.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="homepage-howitworks">
                <div class="homepage-howitworks-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                                <h1>How it works</h1>
                                <p>No more tedious manual regression testing. Apollo makes functional testing quick and easy.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                <div class="homepage-howitworks-step">
                                    <div class="fa fa-list-ol homepage-howitworks-step-icon"></div>
                                    <p>Map out the flows your flows you want to keep an eye on.</p>
                                </div>
                                <div class="homepage-howitworks-step">
                                    <div class="fa fa-bullseye homepage-howitworks-step-icon"></div>
                                    <p>Trigger tests on demand for feature or release testing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <% include ./partials/pricing %> -->
            <!--
            <div class="bg-black">
                <div class="container text-center">
                    <h1>Just try it okay?</h1>
                    <a href="/signup" class="btn btn-danger btn-lg" data-tar="signup">Okay okay, I'll try it</a>
                </div>
            </div>
            -->

            <% include ./partials/pre-launch-signup %>
        <% include ./partials/footer %>
    </body>
</html>
