<!doctype html>
<html>
<head>
    <title>Signup - QA Automation Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body>
    <% include ./partials/header %>
    <div class="page-container">
        <h1 class="text-center">Choose your plan</h1>
        <div class="container">
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <div class="form-group pricing-plan-list">
                <div class="pricng-plan">
                    <h3>Manual</h3>
                    <h2>$25<span class="pricing-plan-month">/ month</span></h2>
                    <ul>
                        <li class="pricing-plan-include"><span class="fa fa-wrench"></span> Unlimited Manual Tests</li>
                        <li class="pricing-plan-include"><span class="fa fa-repeat"></span> Test Playback</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Choose</a>
                </div>
                <div class="pricng-plan">
                    <h3>Scheduled</h3>
                    <h2>$45<span class="pricing-plan-month">/ month</span></h2>
                    <ul>
                        <li class="pricing-plan-include"><span class="fa fa-wrench"></span> Unlimited Manual Tests</li>
                        <li class="pricing-plan-include"><span class="fa fa-repeat"></span> Test Playback</li>
                        <li class="pricing-plan-include"><span class="fa fa-paper-plane"></span> 500 scheduled tests</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Choose</span></a>
                </div>
                <div class="pricng-plan">
                    <h3>Scheduled Pro</h3>
                    <h2>$85<span class="pricing-plan-month">/ month</h2>
                    <ul>
                        <li class="pricing-plan-include"><span class="fa fa-wrench"></span> Unlimited Manual Tests</li>
                        <li class="pricing-plan-include"><span class="fa fa-repeat"></span> Test Playback</li>
                        <li class="pricing-plan-include"><span class="fa fa-space-shuttle"></span> Unlimited scheduled tests</li>
                    </ul>
                    <a href="#" class="btn btn-primary">Choose</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
