<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <% include ./partials/resources %>
</head>
<body>
    <% include ./partials/header %>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> You in beta</h1>
            <p>Seriously... don't expect this account or any of your tests to be permanent. Stuff is changing a lot and quickly.</p>
        </div>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <div class="col-sm-12 text-center">
                <h3>Creat a flow to get started</h3>
                <a class="btn btn-large btn-primary" href="/flows" data-tar="logout"><span class="fa fa-exchange"></span> Flows</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="content"></div>
            </div>
        </div>

    </div>
    <script async src="./app.bundle.js" ></script>
</body>
</html>
