


<!doctype html>
<html>
<head>
    <title>Reset Password - Apollo QA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body>
    <% include ./partials/header %>
    <div class="page-container">
        <h1 class="text-center"><span class="fa fa-sign-in"></span> Enter your new password</h1>
        <div>~~~~ <%= guid %> ~~~~</div>
        <form action="/reset-password-submit" method="post">
            <div class="form-group">
                <input type="password" class="form-control" name="password">
                <button type="submit" class="btn btn-primary">Signup</button>
            </div>
            <input type=hidden name=guid value="<%= guid %>">
        </form>
    </div>
    <% include ./partials/footer %>
</body>
</html>
