


<!doctype html>
<html>
<head>
    <title>Reset Password - Apollo QA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body>
    <% include ./partials/header %>
    <div class="page-container">
        <h1 class="text-center"><span class="fa fa-sign-in"></span> Let's do this</h1>
    </div>
    <% include ./partials/footer %>
</body>
</html>
