<!doctype html>
<html>
<head>
    <title>Reset Password - Apollo QA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body class="account-page">
    <% include ./partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-1 col-md-5">
                <h1 class="account-page-header"><span class="fa fa-sign-in"></span> Forgot your password?</h1>

                <form  class="account-form" action="/reset-password" method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" required class="form-control" data-tar="reset-pw" name="email">
                    </div>
                    <button type="submit" class="button button_valencia button_sm" data-tar="reset-pw-submit">Reset</button>
                </form>
                <hr>
                <div class="account-form-bottom">
                    <p>New here? <a href="/signup">Signup</a></p>
                </div>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
</body>
</html>
