<!doctype html>
<html>
<head>
    <title>Signup - Apollo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body class="page-full-bg bg-top signup-page">
    <% include ./partials/header %>
    <div class="page-container">
        <h1 class="signup-page-header text-center"><span class="fa fa-sign-in"></span> Signup</h1>
        <div class="narrow-form col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-md-4 col-offset-3 col-lg-4 col-lg-offset-4">
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- Sign up FORM -->
            <form action="/signup" method="post" id="signup-form">
                <span class="payment-errors"></span>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</body>
</html>
