<!doctype html>
<html>
<head>
    <title>Signup - QA Automation Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ./partials/resources %>
</head>
<body class="page-full-bg bg-top signup-page">
    <% include ./partials/header %>
    <div class="page-container">
        <h1 class="signup-page-header text-center"><span class="fa fa-sign-in"></span> Signup</h1>
        <div class="narrow-form col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-md-4 col-offset-3 col-lg-4 col-lg-offset-4">
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- Sign up FORM -->
            <form action="/signup" method="post" id="signup-form">
                <span class="payment-errors"></span>
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-primary">Signup</button>
            </form>
            <hr>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_btvhX4BHfAz6tiSSfrekXmJq');

      $(function() {
        var $form = $('#payment-form');
        $form.submit(function(event) {
          // Disable the submit button to prevent repeated clicks:
          $form.find('.submit').prop('disabled', true);

          // Request a token from Stripe:
          Stripe.card.createToken($form, stripeResponseHandler);

          // Prevent the form from being submitted:
          return false;
        });
      });

      function stripeResponseHandler(status, response) {
        // Grab the form:
        var $form = $('#payment-form');

        if (response.error) { // Problem!

          // Show the errors on the form:
          $form.find('.payment-errors').text(response.error.message);
          $form.find('.submit').prop('disabled', false); // Re-enable submission

        } else { // Token was created!

          // Get the token ID:
          var token = response.id;

          // Insert the token ID into the form so it gets submitted to the server:
          $form.append($('<input type="hidden" name="stripeToken">').val(token));

          // Submit the form:
          $form.get(0).submit();
        }
      };
    </script>
</body>
</html>
