
html, body {
    background-color: #daeeff;
}
.site-header {
    padding: 20px;
}
.logo {
    color: #446f94;
    font-size: 60px;
    text-decoration: underline;
}
.logo:hover {
    color: #33404c;
}
