@import "./../sprak-variables.scss";

.profile-page-header {
    color: $color-white;
    padding-top: $space-xl;

}

.profile-page-subheader {
    color: $color-white;
    padding-bottom: $space-xl;
}

.profile-info {
    color: $color-white;
    margin-top: $space-xl;
}
