@import "./../sprak-variables.scss";

//nav closed
.header-nav-toggle-close {
    display: none;
}

.header-nav-toggle-checkbox {
    display: none;
}

.header-nav {
   display: none;
}

//nav open
.header-nav-toggle-checkbox:checked ~ .site-header-content{
    .header-nav {
        border-top: solid 1px $color-bluewood;
        display: flex;
        flex-direction: column;
        margin-top: $space-md;
    }
    .header-nav-toggle-close {
       display: block;
    }
    .header-nav-toggle-open {
        display: none;
    }
}

.header-nav-toggle {
    cursor: pointer;
    float: right;
}

a.header-nav-link, a.header-nav-link:visited {
    @extend %font-sm;
    color: $color-bluewood;
    display: block;
    padding: $space-lg;
    text-align: center;
}

@media screen and (min-width: $breakpoint-sm) {
    .header-nav-toggle {
        display: none;
    }
    .header-nav {
        border: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    a.header-nav-link {
        padding: $space-sm;
        text-align: right;
    }

}
